// 视频主页播放量
function format(count) {
  var counter = parseInt(count)
  if(counter > 100000000) {
    return (counter / 100000000).toFixed(1) + '亿'
  }else if(counter > 10000) {
    return (counter / 10000).toFixed(1) + '万'
  }else {
    return counter + ''
  }
}

// 视频主页播放时长
function leftZero(time) {
  time += ''
  return ('00' + time).slice(time.length)
}

function dateTime(duration) {
  duration = duration / 1000
  var minute = Math.floor(duration / 60)
  var second = Math.floor(duration % 60)
  return leftZero(minute) + ':' + leftZero(second)
}

module.exports = {
  format: format,
  dateTime: dateTime
}